<h1 style="text-align: center;">How To Play</h1>
<br>
<br>
<div style="width: 100%;">
  <img class="tutorial" src="image6.jpeg">
  <p class="tutorialtext">To start the game press play!</p>
  <br>
  <img class="tutorial" src="image1.jpeg">
  <p class="tutorialtext">The objective of the game is to pick a movie with the highest ratings.</p>
  <br>
  <img class="tutorial" src="image2.jpeg">
  <p class="tutorialtext">A popup will appear if wrong.</p>
  <br>
  <img class="tutorial" src="image3.jpeg">
  <p class="tutorialtext">A different one will appear if correct.  A multiplier would then be applied for every consecutive correct answer!</p>
  <br>
  <img class="tutorial" src="image4.jpeg">
  <p class="tutorialtext">There are ten rounds so do your best to get the best score!</p>
</div>
