<div style="width: 100%;">
  <img src="Title.jpg" style="margin: auto; display: block; width: 60%;">
  <br>
  {{#link-to 'howtoplay'}}<a href="">
    <img src="newplayer.jpg" style="padding: 0px 0px 0px 150px;">
  </a>{{/link-to}}
  {{#link-to 'soloplay'}}<a href="">
    <img src="Returningplayer.jpg" align="right" style="padding: 0px 150px 0px 0px;">
  </a>{{/link-to}}
</div>
